@if (DishImage is not null)
{
    <div class="dish__image">
        <img class="image" src="images/@DishImage" alt="Image of dish">
    </div>
}

<div class="dish__bottom">
    <div class="dish__bottom__item">
        <p class="name">@DishName</p>
        <p class="allergies_container">Allergies: <span class="allergies">@(string.IsNullOrEmpty(DishAllergies) ? "N/A" : DishAllergies)</span></p>
    </div>

    <div class="dish__bottom__price">
        <p class="price">@(string.IsNullOrEmpty(DishPrice) ? "N/A" : DishPrice) @(string.IsNullOrEmpty(DishCurrency) ? "kr" : DishCurrency)</p>
    </div>

    <div class="dish__bottom__stats">
        <p>Bought @(string.IsNullOrEmpty(DishStat) ? 0 : DishStat) times</p>
    </div>
</div>

@code {

    [Parameter] public string? DishImage { get; set; }
    [Parameter] public string? DishName { get; set; }
    [Parameter] public string? DishAllergies { get; set; }
    [Parameter] public string? DishPrice { get; set; }
    [Parameter] public string? DishCurrency { get; set; }
    [Parameter] public string? DishStat { get; set; }

}

