@using Canthenos.DataAccessLibrary
@using Canthenos.DataAccessLibrary.Models

@inject IMenusData Db

<div class="weekly_menu">
    @if (_menus is null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <div class="weekly_menu__todays">
            @foreach (var menu in _menus.Where(menu => menu.DayName == DateTime.Now.DayOfWeek.ToString()))
            {
                <TodaysDish CurrentDay="@menu.DayName" DishName="@menu.Name"></TodaysDish>
            }
        </div>

        <div class="weekly_menu__container">
            @foreach (var menu in _menus)
            {
                <DailyDish SelectedDay="@menu.DayName" DishImage="@menu.ImagePath" DishName="@menu.Name" DishAllergies="" DishPrice="@menu.Price" DishCurrency="" DishStat=""></DailyDish>
            }
        </div>
    }
</div>


@code {

    private List<MenusModel>? _menus;

    protected override async Task OnInitializedAsync()
    {
        _menus = await Db.GetMenus();
    }

}